{% extends 'base.html' %}

{% block content %}

<div class="p-4 bg-light" style="width: 100%;">
<h2 class="">Список акций</h2>

    <form class="form-inline my-2 my-lg-0 d-flex" action="{% url 'search_results' %}" method="get">
      <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success m-2" type="submit">Search</button>
    </form>

  <ul class="nav nav-tabs mt-2">
    <li class="nav-item">
    </li>
    <li class="nav-item">
      {% url 'discountList' as url_discountList %}
      <a class="nav-link link-dark {% if url_discountList in request.path %}active{% endif %}"
      href="/discountList">Будущие акции <span class="badge bg-secondary">{{ counter }}</span></a>
    </li>
    <li class="nav-item">
      {% url 'OldDiscountList' as url_OldDiscountList %}
      <a class="nav-link link-dark {% if url_OldDiscountList in request.path %}active{% endif %}" 
      href="/OldDiscountList">Прошедшие <span class="badge bg-secondary">{{ counterOLd }}</span></a>
    </li>
    <li class="nav-item">
      {% url 'CurrentDiscountList' as url_CurrentDiscountList %}
      <a class="nav-link link-dark {% if url_CurrentDiscountList in request.path %}active{% endif %}" 
      href="/CurrentDiscountList">Действующие акции <span class="badge bg-secondary">{{ counterCurrent }}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled link-dark" href="#">Просроченные</a>
    </li>
  </ul>
<div class="content" style="min-height: 79vh;">
<div class="row">
<div class="col">
  {% for discount in page_obj %}
  <div class="list-group mt-1">
      <a href="/discountList/{{ discount.slug }}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ discount.title }}</h5>
          <div>
            <small style="font-weight: bold;">ID: {{ discount.id_DO }} <br></small>
            <small>Create date:<br> {{ discount.createDate }}</small>
          </div>
        </div>
        <p class="mb-1">Shops: {% for shop in discount.shops.all %}{{ shop }},  {% endfor %}</p>
        <p class="mb-1">Manager: {% for manager in discount.manager.all %}{{ manager }},  {% endfor %}</p>
        <small>Start date: {{ discount.startDate }}</small>
        <small>| End date: {{ discount.endDate }}</small>
      </a>
  </div>  
  {% endfor %}
</div>
<div class="col-3 mt-1 pr-5">
  <div class="d-flex">
    <form class="m-1" action="{% url 'discountList' %}" method="get">
      <button type="submit" class="btn btn-outline-dark">Все акции</button>
    </form>
    <form class="m-1" action="{% url 'startTomorrow' %}" method="get">
      <button type="submit" class="btn btn-outline-danger">Стартуют завтра</button>
    </form>
    <form class="m-1" action="{% url 'startWithinAWeek' %}" method="get">
      <button type="submit" class="btn btn-outline-warning">В течение 7 дней</button>
    </form>
  </div>
  <h6 class="mt-2">Выбор сети салонов</h6>
  <ul class="list-group">
    {% for shop in shopListItem %}
      <li class="list-group-item d-flex align-items-center">
          {% if url_discountList in request.path %}<span class="badge bg-secondary">{{ shop.countFutureDiscount }}</span>{% endif %}
          {% if url_OldDiscountList in request.path %}<span class="badge bg-secondary">{{ shop.countPastDiscount }}</span>{% endif %}
          {% if url_CurrentDiscountList in request.path %}<span class="badge bg-secondary">{{ shop.CountCurrentDiscount }}</span>{% endif %}
        <a class="link-dark" style="text-decoration: none; margin-left: 7px;" href="shop/filter/discountList/{{ shop.id }}">{{ shop.title }}</a> 
      </li>
    {% endfor %}
  </ul>
  <h6 class="mt-2">Выбор менеджера</h6>
  <ul class="list-group">
    {% for manager in managers %}
      <li class="list-group-item d-flex align-items-center">
          {% if url_discountList in request.path %}<span class="badge bg-secondary">{{ manager.countFutureDiscount }}</span>{% endif %}
          {% if url_OldDiscountList in request.path %}<span class="badge bg-secondary">{{ manager.countPastDiscount }}</span>{% endif %}
          {% if url_CurrentDiscountList in request.path %}<span class="badge bg-secondary">{{ manager.CountCurrentDiscount }}</span>{% endif %}
        <a class="link-dark" style="text-decoration: none; margin-left: 7px;" href="manager/filter/discountList/{{ manager.id }}">{{ manager.name }}</a> 
      </li>
    {% endfor %}
  </ul>
</div>
</div>
</div>
<nav aria-label="..." class="mt-3" style="bottom: 0;">
  <ul class="pagination">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      {% if page_obj.has_previous %}
      <a class="page-link" href="?page=1">First</a>
      {% else %}
      <span class="page-link">First</span>
      {% endif %}
    </li>
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      {% if page_obj.has_previous %}
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% else %}
      <span class="page-link">Previous</span>
      {% endif %}
    </li>
    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ i }}</span>
    </li>
    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      {% else %}
      <span class="page-link">Next</span>
      {% endif %}
    </li>
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% else %}
      <span class="page-link">Last</span>
      {% endif %}
    </li>
  </ul>
</nav>
</div>

{% endblock %}